body{
    background-color: #2e3136;
}



.parent-con{
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #ffb178;
    padding: 10%;
    margin-left: 30%;
    margin-top: 3%;




}
.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    background-color: #243441;
    padding: 20%;
    text-align: center;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 3px 3px black;

    
}



.put{
    margin-bottom: 20%;
    color: #000000;
}


.display-box{
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px #000000;
    
}





.opr{
    color: #ffb178;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #243441;
    border: 1px solid #000000;
    width: 22%;
    box-shadow: 2px 2px #000000;
    font-size: large;

    
}

.keys{
    color: #5c6c79;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #243441;
    border: 1px solid #000000;
    width: 22%;
    box-shadow: 2px 2px #000000;
    font-size: large;

}


.equal-to{
    width:48%;
    background-color: #ed802e;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 2px 2px #000000;
    padding: 2px;
    font-size: large;
}











.first-row { 
    grid-area: header;


}


.second-row{
    grid-area: menu;

}
    
  



.third-row{
    grid-area: main;
    
   }
    
    


.fourth-row{
        grid-area: right; 

}


.fifth-row{
    grid-area: footer;
 }



.grid-container {

  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'right right right right right right'
    'footer footer footer footer footer footer';
  gap: 17px;
  width: 100%;
  height: 150px;

}